<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.futuroblanquiazul.appalianzalima">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icono_oficial_futuro"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/FuturoBlanquiazul.Base">
        <activity android:name=".ui.Captacion.UbigeoActivity"></activity>
        <activity
            android:name=".ui.Menu.MenuActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".ui.Inicio.LoginActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".ui.Inicio.Splash"
            android:configChanges="screenSize|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Inicio.MainActivity"
            android:configChanges="screenSize|orientation" />

        <receiver android:name=".Conectividad.NetworkStateChecker">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>